@import "tailwindcss";

html, body {
  overflow-x: hidden;
  max-width: 100vw;
  width: 100%;
  position: relative;
  -webkit-overflow-scrolling: touch;
}

#root {
  overflow-x: hidden;
  max-width: 100%;
  width: 100%;
}
